{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <h2>{% if form.instance.pk %}Edit{% else %}Add New{% endif %} Contact</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        
        <div id="church_fields" style="display: none;">
            {{ church_form|crispy }}
        </div>
        
        <div id="prospect_fields" style="display: none;">
            {{ prospect_form|crispy }}
        </div>
        
        <div id="non_prospect_fields" style="display: none;">
            {{ non_prospect_form|crispy }}
        </div>
       
        <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Update{% else %}Create{% endif %} Contact</button>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script>
console.log("JavaScript is running");

document.addEventListener('DOMContentLoaded', function() {
    console.log("DOM is loaded");
    var typeField = document.getElementById('id_type');
    console.log("Type field:", typeField);

    var churchFields = document.getElementById('church_fields');
    var prospectFields = document.getElementById('prospect_fields');
    var nonProspectFields = document.getElementById('non_prospect_fields');

    console.log("Church fields:", churchFields);
    console.log("Prospect fields:", prospectFields);
    console.log("Non-prospect fields:", nonProspectFields);

    function toggleFields() {
        var selectedType = typeField.value;
        console.log("Selected type:", selectedType);

        // Hide all fields
        churchFields.style.display = selectedType === 'church' ? 'block' : 'none';
        prospectFields.style.display = selectedType === 'prospect' ? 'block' : 'none';
        nonProspectFields.style.display = selectedType === 'non_prospect_individual' ? 'block' : 'none';
    }

    typeField.addEventListener('change', toggleFields);
    toggleFields();  // Call once to set initial state
});
</script>
{% endblock %}